{% extends "base.html" %}

{% block title %}
  Error 403 - Forbidden
{% endblock title %}
{% block bodyclass %}
  bg-base-200 min-h-screen flex items-center justify-center
{% endblock bodyclass %}
{% block content %}
  <div class="text-center px-4">
    <!-- Heroicon: lock-closed (outline) -->
    <svg class="w-32 h-32 mx-auto text-base-content/10 float-animation"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke-width="1.5"
         stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
    </svg>
    <h1 class="text-6xl font-bold text-base-content mt-8 mb-4">Error 403</h1>
    <p class="text-xl text-base-content/70 mb-8">You're not allowed to access this page.</p>
    <div class="flex flex-wrap gap-3 justify-center">{% include 'partials/error-options.html' %}</div>
  </div>
{% endblock content %}
