{% load static i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        HealthConnect
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="bread + htmx" />
    <meta name="author" content="Thrive Health" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      {% render_bundle 'project' 'css' %}
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file -->
      {% render_bundle 'vendors' 'js' %}
      <!-- place project specific Javascript in this file -->
      {% render_bundle 'project' 'js' %}
    {% endblock javascript %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
      <div class="mb-4">
        <nav class="navbar bg-base-100 shadow">
          <div class="container mx-auto flex flex-wrap items-center justify-between">
            <div class="navbar-start">
              <a class="btn btn-ghost normal-case text-xl" href="{% url 'home' %}">HealthConnect</a>
            </div>
            <div class="navbar-end">
              <ul class="menu menu-horizontal px-1">
                {% block nav_items %}
                  <li>
                    <a class="active" href="{% url 'home' %}">Home</a>
                  </li>
                {% endblock nav_items %}
                {% if request.user.is_authenticated %}
                  <li>
                    <a href="{% url 'users:detail' request.user.pk %}">{% translate "My Profile" %}</a>
                  </li>
                  <li>
                    <a href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                  </li>
                {% else %}
                  {% if ACCOUNT_ALLOW_REGISTRATION %}
                    <li>
                      <a id="sign-up-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                    </li>
                  {% endif %}
                  <li>
                    <a id="log-in-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="container mx-auto">
        {% include "partials/messages.html" %}
        {% block main %}
          {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
          {% endblock content %}
        {% endblock main %}
      </div>
    {% endblock body %}
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
