{% extends 'base.html' %}

{% block body %}
  <div class="flex h-screen">
    <div class="flex-shrink-0">
      {% block sidenav %}
        {% include 'partials/sidenav.html' %}
      {% endblock sidenav %}
    </div>
    <div class="flex-1 overflow-y-auto">
      {% block topnav %}
        {% include 'partials/topnav.html' %}
      {% endblock topnav %}
      <div class="p-6 max-w-7xl mx-auto">
        {% include 'partials/messages.html' %}
        {% block main %}
          {% block content %}
          {% endblock content %}
        {% endblock main %}
      </div>
    </div>
  </div>
{% endblock body %}
