services:
  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - ./data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
  postgres:
    image: postgres:17.6
    container_name: postgres
    restart: unless-stopped
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_DB=sandwich
      - POSTGRES_USER=sandwich
      - POSTGRES_PASSWORD=sandwich
    healthcheck:
      test: 'pg_isready -h postgres -U postgres'
      timeout: 3s
      interval: 3s
      retries: 30

volumes:
  db:
