{% load lucide %}

{% if oob %}<div hx-swap-oob="beforeend:#chat-messages">{% endif %}
  <div {% if message_id %}id="message-{{ message_id }}"{% endif %}
       class="{% block message_classes %}assistant-message chat chat-start{% endblock message_classes %}">
    <div class="chat-image avatar">
      <div class="w-10 rounded-full bg-primary/20 flex items-center justify-center">{% lucide "bot" %}</div>
    </div>
    {# assistant messages are markdown; prose applies default styling to lists & headings #}
    <div class="assistant-message-content chat-bubble prose bg-primary/20">
      {% block message_content %}
        {{ message }}
        {#        {% if buttons %}#}
        {#          <div class="mt-2">#}
        {#            {% for button in buttons %}#}
        {#              <button class="btn btn-sm btn-outline btn-secondary my-1 assistant-button"#}
        {#                      data-action="{{ button.action }}"#}
        {#                      data-value="{{ button.value }}">{{ button.label }}</button>#}
        {#            {% endfor %}#}
        {#          </div>#}
        {#        {% endif %}#}
      {% endblock message_content %}
    </div>
    <div class="chat-footer">
      {% if timestamp %}<time class="text-xs opacity-50 py-1">{{ timestamp }}</time>{% endif %}
    </div>
  </div>
  {% if oob %}
  </div>
  {# djlint:off #}
<script>
  {% if message_id != "assistant-thinking" %}
  document.querySelector("#message-assistant-thinking")?.remove();
  {% endif %}
  {% if buttons %}
    document.querySelector("#message-{{ message_id }}")
        ?.querySelectorAll('.assistant-button')
        .forEach(button => {
      if (button.dataset.action === "prompt") {
        button.addEventListener('click', () => {
          chatInputSet(button.dataset.value);
        });
      }
    });
  {% endif %}
</script>
{% endif %}
