{% load lucide %}

<div class="card card-border" id="file-upload-card">
  <div class="card-body p-4">
    <div class="flex items-start justify-between gap-2">
      <div id="file-upload-card-header"
           class="cursor-pointer flex flex-row w-100 items-start gap-2">
        {% lucide "file-up" class="size-5 text-primary mt-0.5 flex-shrink-0" id="file-upload-card-icon" %}
        <div class="flex flex-col">
          <h1 class="font-semibold text-sm">Document Uploads</h1>
          <div class="text-xs opacity-50 py-1">Upload documents and see processing status here</div>
        </div>
      </div>
    </div>
    <ul id="feed-items-list" class="flex flex-col list">
    </ul>
  </div>
</div>
