{% extends "patient/chatty/partials/sidebar.html" %}

{% load lucide %}

{# djlint:off #}
{% block panel_id %}right-panel{% endblock panel_id %}
{# if the icon isn't a button it needs some additional padding #}
{% block header_icon %}<div class="pl-2">{% lucide "layout-grid" class="size-6" %}</div>{% endblock header_icon %}
{% block header_title %}Feed{% endblock header_title %}
{% block collapse_icon %}{% lucide "panel-right-close" class="size-6" %}{% endblock collapse_icon %}
{% block expand_icon %}{% lucide "panel-right-open" class="size-6" %}{% endblock expand_icon %}
{# djlint:on #}
{% block panel_content %}
  <div class="overflow-y-auto">
    <div class="overflow-y-auto px-4 pt-4 relative min-h-[102px]"
         id="feed-items">{% include 'patient/chatty/partials/file_upload_card.html' %}</div>
    <div class="overflow-y-auto px-4 relative my-4" id="summary-content">
      {# Health Summary Card - extracted to separate partial for better organization #}
      {% include 'patient/chatty/partials/health_summary_card.html' %}
      {# Future: additional feed items can be added here #}
    </div>
  </div>
{% endblock panel_content %}
{% block collapsed_panel_content %}
  {# nothing here #}
{% endblock collapsed_panel_content %}
