{% extends "patient/chatty/partials/sidebar.html" %}

{% load lucide %}

{# djlint:off #}
{% block panel_id %}right-panel{% endblock panel_id %}
{# if the icon isn't a button it needs some additional padding #}
{% block header_icon %}<div class="pl-2">{% lucide "layout-grid" class="size-6" %}</div>{% endblock header_icon %}
{% block header_title %}Feed{% endblock header_title %}
{% block collapse_icon %}{% lucide "panel-right-close" class="size-6" %}{% endblock collapse_icon %}
{% block expand_icon %}{% lucide "panel-right-open" class="size-6" %}{% endblock expand_icon %}
{# djlint:on #}
{% block panel_content %}
  <div class="flex-1 overflow-y-auto p-4">
    <p class="text-center text-base-content/60">No activity yet</p>
  </div>
{% endblock panel_content %}
{% block collapsed_panel_content %}
  {# nothing here #}
{% endblock collapsed_panel_content %}
