{% load lucide %}

<div id="{% block panel_id %}{% endblock panel_id %}"
     class="w-full lg:w-auto lg:flex-shrink-0">
  <toggle-container>
  {# Expanded Panel #}
  <div class="flex flex-col w-full lg:w-md bg-base-100 h-full rounded-xl border border-base-300 overflow-y-auto">
    <header class="navbar bg-base-100 border-b rounded-t-xl">
      <div class="flex-none">
        {% block header_icon %}
        {% endblock header_icon %}
      </div>
      <div class="flex-1 px-2">
        <span class="font-semibold text-lg">
          {% block header_title %}
          {% endblock header_title %}
        </span>
      </div>
      <div class="flex-none hidden lg:block">
        <toggle-button class="btn btn-square btn-ghost">
        {% block collapse_icon %}
        {% endblock collapse_icon %}
        </toggle-button>
      </div>
    </header>
    {% block panel_content %}
    {% endblock panel_content %}
  </div>
  {# Collapsed Panel #}
  <div class="hidden flex flex-col bg-base-100 h-full border border-base-300 rounded-xl justify-between items-center">
    <header class="navbar border-b justify-center">
      <toggle-button class="btn btn-square btn-ghost">
      {% block expand_icon %}
      {% endblock expand_icon %}
      </toggle-button>
    </header>
    {% block collapsed_panel_content %}
    {% endblock collapsed_panel_content %}
  </div>
  </toggle-container>
</div>
