<dialog class="modal" id="edit-record-modal">
  <div class="modal-box">
    {% include "partials/modal_close_button.html" %}
    {% include "patient/partials/health_record_edit.html" %}
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
<script nonce="{{ request.csp_nonce }}" type="module">
  const modal = document.getElementById('edit-record-modal');
  modal.showModal();
  modal.addEventListener('close', () => {
    window.history.back();
  })
</script>
