{% load crispy_forms_tags %}

<h2>Edit {{ record_type_name }}</h2>
{% if form.instance.unattested %}
  <div class="alert alert-info my-2">
    This record was extracted by an AI model and may be incomplete or inaccurate. Please review and update the information as necessary.
  </div>
{% endif %}
{% crispy form %}
<details class="collapse collapse-arrow mt-8">
  <summary class="collapse-title">History</summary>
  <table class="table collapse-content">
    <tbody>
      {% for event in history %}
        {% if event.count %}
          <tr>
            <td colspan="2" class="text-center text-secondary">{{ event }}</td>
          </tr>
        {% else %}
          <tr>
            <td>
              {{ event.get_label_display }} by {{ event.actor }}
              {% if event.document %}
                based on <a class="link" href="{{ event.document.get_absolute_url }}">{{ event.document }}</a>
              {% endif %}
            </td>
            <td>{{ event.date }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</details>
