{% extends 'partials/sidenav.html' %}

{% block sidenav-items %}
  <li>
    <a href="{% if patient %}{% url 'patients:patient_details' patient_id=patient.id %}{% else %}{% url 'patients:home' %}{% endif %}"
       class="menu-title flex gap-3">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="24"
           height="24"
           viewBox="0 0 24 24"
           fill="none"
           stroke="currentColor"
           stroke-width="1.5"
           stroke-linecap="round"
           stroke-linejoin="round"
           class="lucide lucide-house-heart h-5 w-5"
           aria-hidden="true">
        <path d="M8.62 13.8A2.25 2.25 0 1 1 12 10.836a2.25 2.25 0 1 1 3.38 2.966l-2.626 2.856a.998.998 0 0 1-1.507 0z"></path>
        <path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
        </path>
      </svg>
      Home
    </a>
    <ul>
      <li>
        <a href="#health-records">Health Records</a>
      </li>
      <li>
        <a href="#documents">Documents</a>
      </li>
      <li>
        <a href="#tasks">Tasks</a>
      </li>
    </ul>
  </li>
{% endblock sidenav-items %}
