@import 'tailwindcss';
@import './_google-button.css';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: corporate --default;
}

/* base.html generates alert variants at runtime */
@source inline("alert-{success,danger,warning,info}");

/* bring back some default styling */
@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }

  h2 {
    @apply text-xl;
    @apply font-semibold;
  }

  h3 {
    @apply text-lg;
    @apply font-semibold;
  }

  hr {
    border-top: none;
    @apply divider;
  }
}

/* django-jsonform styles don't really match anything in the app */
.django-jsonform-container {
  input {
    @apply input;
  }
}
