{% load crispy_forms_tags %}
{% load lucide %}

<dialog id="encounter-create-modal" class="modal">
  <div class="modal-box">
    {% include "partials/modal_close_button.html" %}
    <div class="space-y-2">
      <h3 class="font-bold text-lg">Create Encounter</h3>
      <div class="alert alert-info">
        <div class="flex items-center gap-2">
          {% lucide "user" class="size-5" %}
          <div>
            <h4 class="font-bold">Selected Patient</h4>
            <h4 class="font-semibold">{{ patient.last_name }}, {{ patient.first_name }}</h4>
            <p class="text-md">
              DOB: {{ patient.date_of_birth|date:DJANGO_DATE_FORMAT|default:EMPTY_VALUE_DISPLAY }} • PHN:
              {{ patient.phn|default:EMPTY_VALUE_DISPLAY }}
            </p>
          </div>
        </div>
      </div>
      <form action="{% url "providers:patient_add_encounter" organization_id=organization.id patient_id=patient.id %}"
            method="post">
        {% csrf_token %}
        {% if current_encounter %}
          <a href="{{ current_encounter.get_absolute_url }}"
             class="btn btn-primary"
             autofocus>View Current Encounter</a>
          <button type="submit" class="btn">Create New Encounter</button>
        {% else %}
          <button type="submit" class="btn btn-primary" autofocus>Create New Encounter</button>
        {% endif %}
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
<script nonce="{{ request.csp_nonce }}" type="module">
  const modal = document.getElementById("encounter-create-modal");
  modal.showModal();
  modal.addEventListener("close", () => {
    modal.remove()
  });
</script>
