{% load crispy_forms_tags %}
{% load lucide %}

<dialog id="encounter-create-modal" class="modal">
  <div class="modal-box">
    {% include "partials/modal_close_button.html" %}
    <div class="space-y-2">
      <h3 class="font-bold text-lg">Create an encounter for this patient?</h3>
      <a href="{% url 'providers:patient' organization_id=organization.id patient_id=patient.id %}"
         class="block">
        <div class="alert alert-info flex items-center gap-2 hover:brightness-95 transition-colors">
          {% lucide "user" class="size-5" %}
          <div class="flex-1">
            <h4 class="font-bold">Selected Patient</h4>
            <h4 class="font-semibold">{{ patient.last_name }}, {{ patient.first_name }}</h4>
            <p class="text-md">
              DOB: {{ patient.date_of_birth|date:DJANGO_DATE_FORMAT|default:EMPTY_VALUE_DISPLAY }} • PHN:
              {{ patient.phn|default:EMPTY_VALUE_DISPLAY }}
            </p>
          </div>
          {% lucide "chevron-right" class="size-5" %}
        </div>
      </a>
      <form action="{% url "providers:patient_add_encounter" organization_id=organization.id patient_id=patient.id %}"
            method="post">
        {% csrf_token %}
        <div class="flex gap-2 w-full">
          <a href="{% url 'providers:patient' organization_id=organization.id patient_id=patient.id %}"
             class="btn flex-1">No, view patient</a>
          <button type="submit" class="btn btn-primary flex-1" autofocus>Yes, create encounter</button>
        </div>
      </form>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
<script nonce="{{ request.csp_nonce }}" type="module">
  const modal = document.getElementById("encounter-create-modal");
  modal.showModal();
  modal.addEventListener("close", () => {
    modal.remove()
  });
</script>
