{% load lucide %}
{% load crispy_forms_tags %}

<div class="dropdown dropdown-end">
  <button tabindex="0" class="btn btn-ghost btn-sm rounded-full cursor-pointer">
    {% lucide "ellipsis-vertical" class="size-4" %}
  </button>
  <ul tabindex="0"
      class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mt-2">
    <li>
      <label for="patient-details-modal-{{ encounter.id }}" class="cursor-pointer">
        {% lucide "user" class="size-4" %} Patient Details
      </label>
    </li>
    <li>
      <label for="encounter-details-modal-{{ encounter.id }}"
             class="cursor-pointer">{% lucide "file-text" class="size-4" %} Encounter Details</label>
    </li>
  </ul>
</div>
{% include 'provider/partials/patient_details_slideout.html' %}
{% include 'provider/partials/encounter_details_slideout.html' %}
