<div class="flex flex-col w-full space-y-4 card card-border bg-base-100 px-6 py-4">
  <div class="flex justify-between items-center">
    <h3 class="m-0">Encounter Details</h3>
    {% if encounter.active %}
      <span class="badge badge-md badge-success">Active</span>
    {% else %}
      <span class="badge badge-md badge-error">Archived</span>
    {% endif %}
  </div>
  <table class="table">
    <tbody class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4">
      <tr class="flex flex-col gap-y-1">
        <th class="text-sm text-base-content/60 font-normal text-left p-0">Created</th>
        <td class="p-0">{{ encounter.created_at|date:DJANGO_DATE_TIME_FORMAT }}</td>
      </tr>
      <tr class="flex flex-col gap-y-1">
        <th class="text-sm text-base-content/60 font-normal text-left p-0">Updated</th>
        <td class="p-0">{{ encounter.updated_at|date:DJANGO_DATE_TIME_FORMAT }}</td>
      </tr>
      {% for attr in enriched_attributes %}
        <tr class="flex flex-col gap-y-1 [&_td]:!p-0">
          <th class="text-sm text-base-content/60 font-normal text-left p-0">{{ attr.name }}</th>
          {% include "provider/partials/inline_edit_display.html" with cell_id="encounter-details-"|add:encounter.id|stringformat:"s"|add:"-"|add:attr.id field_name=attr.id display_value=attr.value|default:EMPTY_VALUE_DISPLAY annotation_name=attr.id|stringformat:"s" can_edit=True encounter=encounter organization=organization %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
