{% load lucide %}
{% load crispy_forms_tags %}

<div id="content">
  <a class="inline-flex items-center gap-2 text-gray-800 mb-6 link"
     href="{% url "providers:encounter_list" organization_id=organization.id %}">
    {% lucide "chevron-left" class="size-4" %}
    <span>Encounters list</span>
  </a>
  <div class="space-y-6">
    <div class="card card-border bg-base-100 px-6 py-4">
      <div class="flex justify-between">
        <div>
          <div class="flex items-center space-x-2">
            <h1 class="m-0">{{ patient.last_name }}, {{ patient.first_name }}</h1>
          </div>
          <p class="text-sm tracking-wide flex gap-6 mt-2 items-center">
            <span class="flex items-center gap-1">{% lucide "calendar" class="size-4" %} DOB: {{ patient.date_of_birth|date:DJANGO_DATE_FORMAT }} </span>
            <span class="flex items-center gap-1">{% lucide "id-card" class="size-4" %} PHN: {{ patient.phn|default:EMPTY_VALUE_DISPLAY }}</span>
            <span class="flex items-center gap-1">{% lucide "info" class="size-4" %} Contact: {{ patient.email|default:EMPTY_VALUE_DISPLAY }}</span>
          </p>
        </div>
        <div>{% include 'provider/partials/encounter_details_action_menu.html' %}</div>
      </div>
    </div>
    {% if pending_invitation %}
      <div class="card card-border bg-base-100 px-6 py-4 space-y-2">
        <h2 class="m-0">Invitation</h2>
        <p>
          <strong>Status:</strong> {{ pending_invitation.get_status_display }}, last sent at {{ pending_invitation.last_invited_at }}
        </p>
        <form action="{% url "providers:patient_resend_invite" organization_id=organization.id patient_id=patient.id %}"
              class="inline"
              method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-primary">Resend Invitation</button>
        </form>
      </div>
    {% endif %}
    {% include 'provider/partials/encounter_details_section.html' %}
    {% include 'provider/partials/summaries_section.html' %}
    {% include 'provider/partials/documents_and_forms_section.html' %}
    {% include 'provider/partials/activity_section.html' %}
  </div>
  {% include 'provider/partials/other_encounters_section.html' %}
</div>
