{% load lucide %}

<button tabindex="0"
        class="btn btn-ghost btn-sm rounded-full cursor-pointer"
        aria-label="Encounter actions menu">{% lucide "ellipsis-vertical" class="size-6" %}</button>
<ul tabindex="0"
    class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 mt-2">
  <li>
    <a href="{% url "providers:patient" organization_id=organization.id patient_id=patient.id %}"
       class="flex items-center gap-2">{% lucide "user" class="size-4" %} View Patient</a>
  </li>
  <li>
    <a hx-get="{% url 'providers:patient_add_task' organization_id=organization.id patient_id=patient.id %}"
       hx-target="body"
       hx-swap="beforeend"
       class="flex items-center gap-2">{% lucide "send" class="size-4" %} Send Form</a>
  </li>
  <li>
    <form action="{% url "providers:encounter_archive" organization_id=organization.id encounter_id=encounter.id %}"
          method="post">
      {% csrf_token %}
      {% if encounter.status == "completed" %}
        <button type="submit"
                class="w-full text-left flex items-center gap-2 cursor-pointer">
          {% lucide "rotate-ccw" class="size-4" %} Unarchive Encounter
        </button>
      {% else %}
        <button type="submit"
                class="w-full text-left text-error flex items-center gap-2 cursor-pointer">
          {% lucide "archive" class="size-4" %} Archive Encounter
        </button>
      {% endif %}
    </form>
  </li>
</ul>
