{% load sortable %}

<div class="overflow-x-auto rounded-box border border-base-200 bg-base-100">
  <table class="table">
    <thead>
      <tr>
        <th>{% sortable_column "Name" "name" %}</th>
        <th>Latest Version</th>
        <th>{% sortable_column "Created" "created_at" %}</th>
        <th>{% sortable_column "Updated" "updated_at" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for form in forms %}
        <tr>
          {# TODO(MM): improve this UI #}
          {% if form.is_generating %}
            <td class="text-gray-400">{{ form.name }}</td>
            <td class="text-gray-400">
              <i>Generating...</i>
            </td>
          {% else %}
            <td>
              <a class="link"
                 href="{% url "providers:form_template_edit" organization_id=organization.id form_id=form.id %}">{{ form.name }}</a>
            </td>
            <td>
              <a class="link"
                 href="{% url "providers:form_template" organization_id=organization.id form_id=form.id %}">
                <span class="badge badge-info">{{ form.current_version }}</span>
              </a>
            </td>
          {% endif %}
          <td>{{ form.created_at }}</td>
          <td>{{ form.updated_at }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="text-center">No form templates found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- Pagination controls -->
<nav aria-label="Form template pagination" class="join mt-2">
  {% if forms.has_previous %}
    <a class="join-item btn"
       href="{% querystring page=forms.previous_page_number %}"
       aria-label="Previous">
      <span aria-hidden="true">&laquo; Previous</span>
    </a>
  {% else %}
    <button class="join-item btn" disabled aria-label="Previous">
      <span aria-hidden="true">&laquo; Previous</span>
    </button>
  {% endif %}
  <span class="join-item btn">Page {{ forms.number }} of {{ forms.paginator.num_pages }}</span>
  {% if forms.has_next %}
    <a class="join-item btn"
       href="{% querystring page=forms.next_page_number %}"
       aria-label="Next">
      <span aria-hidden="true">Next &raquo;</span>
    </a>
  {% else %}
    <button class="join-item btn" disabled aria-label="Next">
      <span aria-hidden="true">Next &raquo;</span>
    </button>
  {% endif %}
</nav>
