{% load sortable %}

{% include "partials/messages_oob.html" %}
<div class="overflow-x-auto rounded-box border border-base-200 bg-base-100">
  <table class="table">
    <thead>
      <tr>
        <th>{% sortable_column "Name" "name" %}</th>
        <th>Latest Version</th>
        <th>{% sortable_column "Created" "created_at" %}</th>
        <th>{% sortable_column "Updated" "updated_at" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for form in forms %}
        <tr {% if form.is_generating %}class="bg-gray-100"{% elif form.status == "failed" %}class="bg-error/10"{% endif %}>
          <td {% if form.is_generating %}class="text-gray-400"{% elif form.status == "failed" %}class="text-error"{% endif %}>
            {% if form.is_generating or form.status == "failed" %}
              {{ form.name }}
            {% else %}
              <a class="link"
                 href="{% url "providers:form_template_edit" organization_id=organization.id form_id=form.id %}">{{ form.name }}</a>
            {% endif %}
          </td>
          <td {% if form.is_generating %}class="text-gray-400"{% elif form.status == "failed" %}class="text-error"{% endif %}>
            {% if form.is_generating %}
              <span class="loading loading-spinner loading-xs" slot="icon"></span>
              <i>Generating...</i>
            {% elif form.status == "failed" %}
              <i>Generation failed</i>
            {% else %}
              <a class="link"
                 href="{% url "providers:form_template" organization_id=organization.id form_id=form.id %}">
                <span class="badge badge-info">{{ form.current_version }}</span>
              </a>
            {% endif %}
          </td>
          <td>{{ form.created_at|date:DJANGO_DATE_TIME_FORMAT }}</td>
          <td>{{ form.updated_at|date:DJANGO_DATE_TIME_FORMAT }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="text-center">No form templates found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- Pagination controls -->
<nav aria-label="Form template pagination" class="join mt-2">
  {% if forms.has_previous %}
    <a class="join-item btn"
       href="{% querystring page=forms.previous_page_number %}"
       aria-label="Previous">
      <span aria-hidden="true">&laquo; Previous</span>
    </a>
  {% else %}
    <button class="join-item btn" disabled aria-label="Previous">
      <span aria-hidden="true">&laquo; Previous</span>
    </button>
  {% endif %}
  <span class="join-item btn">Page {{ forms.number }} of {{ forms.paginator.num_pages }}</span>
  {% if forms.has_next %}
    <a class="join-item btn"
       href="{% querystring page=forms.next_page_number %}"
       aria-label="Next">
      <span aria-hidden="true">Next &raquo;</span>
    </a>
  {% else %}
    <button class="join-item btn" disabled aria-label="Next">
      <span aria-hidden="true">Next &raquo;</span>
    </button>
  {% endif %}
</nav>
