{% load lucide %}
{% load crispy_forms_tags %}

<dialog id="delete-organization-confirmation-modal" class="modal">
  <div class="modal-box">
    {% include "partials/modal_close_button.html" %}
    <div class="space-y-2">
      <h3 class="text-lg font-bold">Are you sure you want to delete your organization?</h3>
      <p>This action is irreversible and will delete all patient data, encounters, and user access.</p>
      <p>
        Type <strong class="text-red-700">DELETE</strong> to confirm.
      </p>
      {% crispy form %}
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
<script>
  document.getElementById('delete-organization-confirmation-modal').showModal()
</script>
