{% load crispy_forms_tags %}
{% load lucide %}

<dialog id="patient-add-modal" class="modal">
  <div class="modal-box">
    {% include "partials/modal_close_button.html" %}
    <div class="space-y-2">
      <h3 class="font-bold text-lg">Create Patient</h3>
      {% crispy form %}
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
<script nonce="{{ request.csp_nonce }}" type="module">
  const modal = document.getElementById("patient-add-modal");
  modal.showModal();
  modal.addEventListener("close", () => {
    modal.remove();
  });
</script>
