{% extends 'partials/topnav.html' %}

{% load static i18n heroicons %}

{% block topnav_items_start %}
  <div class="flex items-center text-xl font-bold gap-2">
    {# FIXME: Remove "secret" link once provider vs patient accounts delineated #}
    <a href="{% url 'core:home' %}">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="24"
           height="24"
           viewBox="0 0 24 24"
           fill="none"
           stroke="currentColor"
           stroke-width="1.5"
           stroke-linecap="round"
           stroke-linejoin="round"
           class="size-6 text-primary"
           aria-hidden="true">
        <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
        <path d="M2.62 13.8A2.25 2.25 0 1 1 6 10.836a2.25 2.25 0 1 1 3.38 2.966l-2.626 2.856a.998.998 0 0 1-1.507 0z"></path>
        <path d="M4 6.005V4a2 2 0 0 1 2-2h9l5 5v13a2 2 0 0 1-2 2H6a2 2 0 0 1-1.9-1.376"></path>
      </svg>
    </a>
    <a href="{% url 'providers:home' %}">HealthConnect</a>
  </div>
{% endblock topnav_items_start %}
{% block topnav_items_center %}
  <label class="input">
    {% heroicon_outline "magnifying-glass" class="size-5 opacity-50" %}
    <input class="grow"
           type="search"
           id="command-palette-trigger"
           placeholder="Type a command or search..." />
    <span class="text-sm text-gray-400"></span>
  </label>
  <script nonce="{{request.csp_nonce}}">
    document.addEventListener('DOMContentLoaded', () => {
      const trigger = document.getElementById('command-palette-trigger');
      trigger.nextElementSibling.textContent = /mac/i.test(navigator.platform) ? '⌘ + K' : 'Ctrl + K';

      trigger.addEventListener('focus', (event) => {
        document.querySelector('command-palette').isOpen = true;
        event.target.blur();
      });
    })
  </script>
{% endblock topnav_items_center %}
{% block avatar_menu_title %}
  {% if organization %}
    {{ organization.name }}
  {% else %}
    Switch context
  {% endif %}
{% endblock avatar_menu_title %}
{% block avatar_nav_items %}
  {% if organization %}
    <li>
      <a href="{% url 'providers:organization_edit' organization_id=organization.id %}">Organization Settings</a>
    </li>
  {% endif %}
{% endblock avatar_nav_items %}
