@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: corporate --default;
}

/* load classes used by crispy-tailwind */
@source "../../../.venv/lib/python3.12/site-packages/crispy_tailwind";

/* base.html generates alert variants at runtime */
@source inline("alert-{success,danger,warning,info}");

/* bring back some default styling */
@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }
}
