{% load static i18n %}

<nav class="navbar bg-base-100 border-b border-base-300 px-6">
  <div class="flex grow justify-between items-center">
    <div>
      {% block topnav_items_start %}
      {% endblock topnav_items_start %}
    </div>
    {# Not wrapped in a div so these items can control their size #}
    {% block topnav_items_center %}
    {% endblock topnav_items_center %}
    <div class="gap-2 items-center">
      {% block nav_items %}
      {% endblock nav_items %}
      {% if request.user.is_authenticated %}
        <div class="dropdown dropdown-end">
          <div tabindex="0"
               role="button"
               class="btn btn-ghost btn-circle border-none avatar avatar-placeholder">
            <div class="bg-neutral text-neutral-content w-10 rounded-full">
              {% block avatar_initials %}
                <span class="text-sm">{{ request.user.initials }}</span>
              {% endblock avatar_initials %}
            </div>
          </div>
          <ul tabindex="0"
              class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 min-w-52 p-2 shadow">
            <li class="menu-title pointer-events-none">
              {% block avatar_menu_title %}
                <div class="text-xs">{{ user.email }}</div>
              {% endblock avatar_menu_title %}
            </li>
            <li>
              <a href="{% url 'account_email' %}">{% translate "Settings" %}</a>
            </li>
            {% block avatar_nav_items %}
            {% endblock avatar_nav_items %}
            <li>
              <a href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
            </li>
          </ul>
        </div>
      {% else %}
        {% if ACCOUNT_ALLOW_REGISTRATION %}
          <a id="sign-up-link"
             class="btn btn-ghost"
             href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
        {% endif %}
        <a id="log-in-link"
           class="btn btn-ghost"
           href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
      {% endif %}
    </div>
  </div>
</nav>
