{% extends "base.html" %}

{% block nav_items %}
  <li class="nav-item active">
    {% if organization %}
      <a href="{% url 'providers:organization' organization_id=organization.id %}">Home</a>
    {% else %}
      <a href="{% url 'providers:home' %}">Home</a>
    {% endif %}
  </li>
{% endblock nav_items %}
{% block modal %}
  {% if organization %}
    <command-palette search-url="{% url 'providers:search' organization_id=organization.id %}" />
  {% endif %}
{% endblock modal %}
{% block title %}
  {% if organization %}{{ organization.name }} &middot;{% endif %}
  HealthConnect
{% endblock title %}
