{% extends "users/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="mb-4 flex justify-between">
    <h1>Custom Fields</h1>
  </div>
  <form method="post" id="custom-attribute-form">
    {% crispy form %}
    <div id="enum-fields-container">
      {% if show_enum_fields %}
        {% include "provider/partials/custom_attribute_enum_fields.html" %}
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock content %}
