{% extends "provider/base.html" %}

{% load lucide %}
{% load crispy_forms_tags %}

{% block content %}
  <div id="content">
    <div id="add-task-modal"></div>
    <a class="space-x-2 flex items-center text-gray-800 mb-6 link"
       href="{% url "providers:encounter_list" organization_id=organization.id %}">
      {% lucide "chevron-left" class="size-4" %}
      Encounters list
    </a>
    <div class="flex justify-between mb-4">
      <div>
        <div class="flex items-center space-x-2">
          <h1>{{ patient.last_name }}, {{ patient.first_name }}</h1>
          {% if encounter.active %}
            <span class="badge badge-md badge-success">Active</span>
          {% else %}
            <span class="badge badge-md badge-error">Archived</span>
          {% endif %}
        </div>
        <p class="text-sm tracking-wide flex gap-6 mt-2 items-center">
          <span class="flex items-center gap-1">{% lucide "calendar" class="size-4" %} DOB: {{ patient.date_of_birth|date:"M d, Y" }} </span>
          <span class="flex items-center gap-1">{% lucide "id-card" class="size-4" %} PHN: {{ patient.phn|default:"—" }}</span>
          <span class="flex items-center gap-1">{% lucide "info" class="size-4" %} Contact: {{ patient.email|default:"—" }}</span>
        </p>
      </div>
      <div>
        <button class="btn btn-primary"
                hx-target="#add-task-modal"
                hx-get="{% url 'providers:patient_add_task' organization_id=organization.id patient_id=patient.id %}">
          Send form
        </button>
        <a href="{% url "providers:patient" organization_id=organization.id patient_id=patient.id %}"
           class="btn btn-outline">View patient</a>
        <a href="{% url "providers:patient_edit" organization_id=organization.id patient_id=patient.id %}"
           class="btn btn-outline">Edit patient record</a>
        <form action="{% url "providers:encounter_archive" organization_id=organization.id encounter_id=encounter.id %}"
              class="inline"
              method="post">
          {% csrf_token %}
          <button type="submit"
                  class="btn {% if encounter.status == "completed" %}btn-outline{% else %}btn-error{% endif %}">
            {% if encounter.status == "completed" %}
              Unarchive Encounter
            {% else %}
              Archive Encounter
            {% endif %}
          </button>
        </form>
      </div>
    </div>
    <hr />
    {% if pending_invitation %}
      <div class="mb-4 space-y-2">
        <h2>Invitation</h2>
        <p>
          <strong>Status:</strong> {{ pending_invitation.get_status_display }}, last sent at {{ pending_invitation.last_invited_at }}
        </p>
        <form action="{% url "providers:patient_resend_invite" organization_id=organization.id patient_id=patient.id %}"
              class="inline"
              method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-primary">Resend Invitation</button>
        </form>
      </div>
      <hr />
    {% endif %}
    {% include 'provider/partials/encounter_details_section.html' %}
    <hr />
    {% include 'provider/partials/documents_and_forms_section.html' %}
    <hr />
    {% include 'provider/partials/summaries_section.html' %}
    <hr />
    {% include 'provider/partials/activity_section.html' %}
    {% if other_encounters %}
      <hr />
      <h3>Other Encounters</h3>
      <div class="overflow-x-auto rounded-box border border-base-200 bg-base-100">
        <table class="table">
          <thead>
            <tr>
              <th>Started</th>
              <th>Ended</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {# TODO: link to details about past encounters #}
            {% for encounter in other_encounters %}
              <tr>
                <td>{{ encounter.created_at }}</td>
                <td>{{ encounter.ended_at|default:"—" }}</td>
                <td>{{ encounter.get_status_display }}</td>
                <td>
                  <a class="btn btn-sm"
                     href="{% url "providers:encounter" encounter_id=encounter.id organization_id=organization.id %}">Details</a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="3" class="text-center">No past encounters.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
  {# End of #content wrapper #}
{% endblock content %}
