{% extends "provider/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <h2>Patient Details</h2>
  <p>
    <strong>Name:</strong> {{ patient.full_name }}
  </p>
  <p>
    <strong>Email:</strong> {{ patient.email|default:"—" }}
  </p>
  {% if pending_invitation %}
    <p>
      <strong>Invitation:</strong> {{ pending_invitation.get_status_display }}, last sent at {{ pending_invitation.last_invited_at }}
    </p>
  {% endif %}
  <a href="{% url "providers:patient_edit" organization_id=organization.id patient_id=patient.id %}"
     class="btn btn-primary">Edit</a>
  {% if pending_invitation %}
    <form action="{% url "providers:patient_resend_invite" organization_id=organization.id patient_id=patient.id %}"
          class="inline"
          method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-primary">Resend Invitation</button>
    </form>
  {% endif %}
  <hr />
  <h2>Encounter</h2>
  <p>
    <strong>Patient Status:</strong> {{ current_encounter.get_patient_status_display|default:"—" }}
  </p>
  <form action="{% url "providers:patient_archive" organization_id=organization.id patient_id=patient.id %}"
        class="inline"
        method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Archive</button>
  </form>
  {% crispy encounter_form %}
  {% include 'provider/partials/encounter_tasks.html' %}
  {% if other_encounters %}
    <hr />
    <h3>Other Encounters</h3>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
      <table class="table">
        <thead>
          <tr>
            <th>Started</th>
            <th>Ended</th>
            <th>Status</th>
            <th>Patient Status</th>
          </tr>
        </thead>
        <tbody>
          {# TODO: link to details about past encounters #}
          {% for encounter in other_encounters %}
            <tr>
              <td>{{ encounter.created_at }}</td>
              <td>{{ encounter.ended_at|default:"—" }}</td>
              <td>{{ encounter.get_status_display }}</td>
              <td>{{ encounter.get_patient_status_display|default:"—" }}</td>
              <td>
                <a class="btn btn-sm"
                   href="{% url "providers:encounter" encounter_id=encounter.id organization_id=organization.id %}">Details</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4" class="text-center">No past encounters.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock content %}
