{% extends "users/base.html" %}

{% load lucide %}
{% load render_bundle from webpack_loader %}

{% block main_padding %}
{% endblock main_padding %}
{% block additional_styles %}
  flex flex-col max-w-[unset] h-[calc(100%_-_64px)]
{% endblock additional_styles %}
{% block extra_head %}
  {{ block.super }}
  {% comment %}
    Survey Creator also requires SurveyJS Form Library resources,
    and a script with predefined theme configurations (if you are going to use Theme Editor).
    Link them before the Survey Creator resources.
    TODO: wire up Theme Editor and themes later
    https://surveyjs.io/survey-creator/documentation/theme-editor
  {% endcomment %}
  {% render_bundle 'survey' 'css' %}
  {% render_bundle 'survey' 'js' %}
  {% render_bundle 'creator' 'js' %}
  {% render_bundle 'creator' 'css' %}
{% endblock extra_head %}
{% block content %}
  {{ form.schema | json_script:"form_schema" }}
  <div id="form-builder-container"
       data-csrf-token="{{ csrf_token }}"
       data-form-save-url="{{ form_save_url }}"
       data-address-url="{{ address_autocomplete_url }}"
       data-medications-url="{{ medications_autocomplete_url }}"
       data-file-upload-url="{% url 'core:attachment_upload' %}"
       data-file-delete-url="{% url 'core:attachment_delete' %}"
       data-file-fetch-url="{% url 'core:attachment_get' %}"
       data-form-id="{% if form %}{{ form.id }}{% endif %}"></div>
  <form id="file-upload-form"
        class="hidden"
        hx-post="{% url 'providers:form_file_upload' organization_id=organization.id %}"
        hx-encoding="multipart/form-data"
        hx-target="#form_schema"
        hx-swap="innerHTML">
    {% csrf_token %}
    <input type="file" name="file" accept="application/pdf, text/csv" />
  </form>
{% endblock content %}
