{% extends "base.html" %}

{% load render_bundle from webpack_loader %}
{% load lucide %}

{% block extra_head %}
  {{ block.super }}
  {% render_bundle 'survey' 'css' %}
  {% render_bundle 'survey' 'js' %}
{% endblock extra_head %}
{% block body %}
  <div class="flex flex-col h-screen ">
    {% include 'patient/partials/topnav_with_logo.html' %}
    <div class="flex items-center px-6 pt-6 pl-6">
      <a href="{% url 'providers:form_template' organization_id=organization.id form_id=form.id %}"
         class="btn btn-ghost btn-circle mr-2">{% lucide "arrow-left" class="w-5 h-5" %}</a>
      <h1 class="mr-2">Back</h1>
    </div>
    <div class="flex-1 p-1 lg:p-6 h-full overflow-hidden">
      <div id="mobile-form-view"
           class="w-full lg:w-auto lg:flex-1 flex flex-col h-full bg-base-100 rounded-xl border border-base-300">
        <main id="form-view" class="flex-1 overflow-y-auto h-full p-4">
          {{ form_schema | json_script:"form_schema" }}
          <survey-form data-schema-id="form_schema" />
        </main>
      </div>
    </div>
  </div>
{% endblock body %}
