{% extends "users/base.html" %}

{% load lucide %}

{% block content %}
  <div class="flex items-center justify-between mb-4">
    <div class="flex items-center">
      <a href="{% url 'providers:form_templates_list' organization_id=organization.id %}"
         class="btn btn-ghost btn-circle mr-2">{% lucide "arrow-left" class="w-5 h-5" %}</a>
      <h1>New Form</h1>
    </div>
    <button id="new-form-button" class="btn btn-primary cursor-default">Create form</button>
  </div>
  {# TODO: Add form builder #}
{% endblock content %}
