{% extends "users/base.html" %}

{% load lucide %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="flex items-center mb-5">
    <a href="{% url 'providers:form_templates_list' organization_id=organization.id %}"
       class="btn btn-ghost btn-circle mr-2">{% lucide "arrow-left" class="w-5 h-5" %}</a>
    <h1 class="mr-2">Version History</h1>
  </div>
  <h3>{{ form.name|capfirst }}</h3>
  <div class="rounded-box border border-base-200 bg-base-100">
    <table class="table">
      <thead>
        <tr>
          <th>Version</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for form_version in forms %}
          <tr>
            <td data-form-version-id="{{ form_version.pgh_id }}">
              v{{ forloop.revcounter }}
              {% if forloop.first %}<span class="badge badge-success badge-xs ml-2">Latest</span>{% endif %}
            </td>
            <td>{{ form_version.pgh_created_at|date:DJANGO_DATE_TIME_FORMAT }}</td>
            <td class="w-px text-right">
              {% include 'provider/partials/form_template_action_menu.html' with organization=organization form=form form_version=form_version most_recent_version=forloop.first version_number=forloop.revcounter %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" class="text-center">No version history.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
