{% extends "provider/base.html" %}

{% block main %}
  <h2>{{ organization.name }}</h2>
  <div class="tabs tabs-border w-full">
    <a class="tab tab-active"
       href="{% url 'providers:organization' organization_id=organization.id %}">Home</a>
    <a class="tab"
       href="{% url "providers:patient_list" organization_id=organization.id %}">Patients</a>
    <div class="flex-grow-1"></div>
    <a class="tab"
       href="{% url "providers:organization_edit" organization_id=organization.id %}">Settings</a>
  </div>
  {# TODO: just show the opened command palette inline, instead of this fakery #}
  <input class="input"
         type="text"
         id="fake-search"
         placeholder="Type a command or search..." />
{% endblock main %}
{% block inline_javascript %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('fake-search').addEventListener('focus', (event) => {
        document.querySelector('command-palette').isOpen = true;
        event.target.blur();
      });
    })
  </script>
{% endblock inline_javascript %}
