{% extends "provider/base.html" %}

{% block main %}
  <h2>Patients</h2>
  <form>
    <div class="mb-2">
      <input name="search"
             type="text"
             class="input"
             placeholder="Search"
             value="{{ search }}" />
      <button type="submit" class="btn">Search</button>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
        <tr>
          <td>
            <a class="link"
               href="{% url "providers:patient" patient_id=patient.id organization_id=organization.id %}">{{ patient.full_name }}</a>
          </td>
          <td>{{ patient.email|default:"—" }}</td>
          <td>{{ patient.created_at }}</td>
          <td>{{ patient.updated_at }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="text-center">No patients found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Pagination controls -->
  {% if patients.has_other_pages %}
    <nav aria-label="Patient pagination">
      <ul class="pagination">
        {% if patients.has_previous %}
          <li class="page-item">
            <a class="page-link"
               href="?page={{ patients.previous_page_number }}"
               aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
            </span>
          </li>
        {% endif %}
        {% if patients.has_next %}
          <li class="page-item">
            <a class="page-link"
               href="?page={{ patients.next_page_number }}"
               aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
            </span>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  <a href="{% url "providers:patient_add" organization_id=organization.id %}"
     class="btn btn-primary">Add a Patient</a>
{% endblock main %}
