{% extends "provider/base.html" %}

{% block main %}
  <div class="flex justify-between">
    <h2>{{ organization.name }}</h2>
    <a href="{% url "providers:patient_add" organization_id=organization.id %}"
       class="btn btn-primary">Add a Patient</a>
  </div>
  <div class="tabs tabs-border w-full">
    <a class="tab"
       href="{% url 'providers:organization' organization_id=organization.id %}">Home</a>
    <a class="tab tab-active"
       href="{% url "providers:patient_list" organization_id=organization.id %}">Patients</a>
    <div class="flex-grow-1"></div>
    <a class="tab"
       href="{% url "providers:organization_edit" organization_id=organization.id %}">Settings</a>
  </div>
  <form hx-get="{% url "providers:patient_list" organization_id=organization.id %}"
        hx-target="#patient_table_container"
        hx-push-url="true"
        hx-trigger="keyup changed delay:300ms from:input[name='search'], change from:select[name='has_active_encounter'], change from:select[name='patient_status']">
    <div class="mb-2">
      <input name="search"
             type="text"
             class="input"
             placeholder="Search"
             value="{{ search }}" />
      <select name="has_active_encounter" class="input w-auto">
        <option value="">All Patients</option>
        <hr />
        <option value="true"
                {% if has_active_encounter_filter == "true" %}selected{% endif %}>Active</option>
        <option value="false"
                {% if has_active_encounter_filter == "false" %}selected{% endif %}>Archived</option>
      </select>
      <select name="patient_status" class="input w-auto">
        <option value="">Status</option>
        <hr />
        {% for s in organization.patient_statuses %}
          <option value="{{ s.value }}"
                  {% if patient_status_filter == s.value %}selected{% endif %}>{{ s.label }}</option>
        {% endfor %}
      </select>
      <input type="hidden" name="sort" value="{{ sort }}" />
      <button type="submit" class="btn">Search</button>
      <a href="{% url 'providers:patient_list' organization_id=organization.id %}"
         class="btn btn-secondary">Clear</a>
    </div>
  </form>
  <div id="patient_table_container">{% include "provider/partials/patient_list_table.html" %}</div>
{% endblock main %}
