{% extends "provider/base.html" %}

{% load render_bundle from webpack_loader %}

{% block extra_head %}
  {{ block.super }}
  {% render_bundle 'survey' 'css' %}
  {% render_bundle 'survey' 'js' %}
{% endblock extra_head %}
{% block content %}
  <div class="mb-2">
    <a class="link"
       href="{% url 'providers:patient' organization_id=organization.id patient_id=patient.id %}">&larr; Back to {{ patient.full_name }}</a>
    viewing {{ task.status }} task {{ task.name }}
  </div>
  <div class="container mx-auto">
    {{ form_schema | json_script:"form_schema" }}
    <survey-form data-schema-id="form_schema"
    {% if read_only %}readonly{% endif %}
    />
  </div>
{% endblock content %}
