{% extends "patient/base.html" %}

{% load render_bundle from webpack_loader %}

{% block extra_head %}
  {{ block.super }}
  {% render_bundle 'survey' 'css' %}
  {% render_bundle 'survey' 'js' %}
{% endblock extra_head %}
{% block main_padding %}
  {# Override default padding to allow full-width form #}
  p-0
{% endblock main_padding %}
{% block content %}
  <div class="container mx-auto">
    {{ form_schema | json_script:"form_schema" }}
    <survey-form data-schema-id="form_schema" data-submit-url="{{ submit_url }}" data-csrf-token="{{ csrf_token }}" data-complete-url="{% url 'patients:home' %}"
    {% if read_only %}readonly{% endif %}
    />
  </div>
{% endblock content %}
