{% extends "patient/base.html" %}

{% load render_bundle from webpack_loader %}
{% load lucide %}

{% block extra_head %}
  {{ block.super }}
  {% render_bundle 'survey' 'css' %}
  {% render_bundle 'survey' 'js' %}
{% endblock extra_head %}
{% block main_padding %}
  {# Override default padding to allow full-width form #}
  p-0
{% endblock main_padding %}
{% block content %}
  <div class="container mx-auto py-5 space-y-5">
    {% if task.status == "completed" %}
      <div role="alert" class="alert alert-warning print:hidden">
        <span>You're currently viewing a completed form.</span>
      </div>
      <button class="btn btn-primary float-right print:hidden" id="print-btn">
        {% lucide "printer" class="size-4" %}
        Print
      </button>
      <!-- This page is not loaded by htmx, thus we need to include the nonce -->
      <script nonce="{{ request.csp_nonce }}">
        const el = document.getElementById("print-btn")
        el.addEventListener('click', () => {
          window.print()
        });
      </script>
    {% endif %}
    {% if initial_data %}{{ initial_data | json_script:"initial_data" }}{% endif %}
    {{ form_schema | json_script:"form_schema" }}
    <survey-form data-schema-id="form_schema" data-initial-data-id="initial_data" data-submit-url="{{ submit_url }}" data-csrf-token="{{ csrf_token }}" data-complete-url="{% url 'patients:patient_details' patient_id=patient.id %}" data-save-draft-url="{{ save_draft_url }}"
    {% if read_only %}readonly{% endif %}
    />
  </div>
{% endblock content %}
