{% extends "patient/base.html" %}

{% load lucide %}

{% block content %}
  {# the sse-swap here is misleading -- the messages themselves have hx-swap-oob set to their actual target #}
  <div sse-connect="{% url "core:events" %}?channel=patient/{{ patient.id }}"
       sse-swap="ingest_progress"></div>
  <div id="form-modal"></div>
  <h2 id="health-records" class="mb-4">My Health Records</h2>
  {% include "patient/partials/personal_information.html" with patient=patient %}
  {% include "patient/partials/records_documents.html" %}
  {% include "patient/partials/records_immunizations.html" %}
  {% include "patient/partials/records_practitioners.html" %}
{% endblock content %}
