{% extends "layout/onboarding.html" %}

{% load crispy_forms_tags %}

{# djlint:off #}
{% block component_max_width %}max-w-2xl{% endblock component_max_width %}
{# djlint:on #}
{% block component_title %}
  <h1 class="text-center mb-3 text-3xl">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="text-primary inline-block"
         width="40"
         height="40"
         viewBox="0 0 24 24"
         fill="none"
         stroke="currentColor"
         stroke-width="2"
         stroke-linecap="round"
         stroke-linejoin="round">
      <path d="M14 2v4a2 2 0 0 0 2 2h4" />
      <path d="M2.62 13.8A2.25 2.25 0 1 1 6 10.836a2.25 2.25 0 1 1 3.38 2.966l-2.626 2.856a.998.998 0 0 1-1.507 0z" />
      <path d="M4 6.005V4a2 2 0 0 1 2-2h9l5 5v13a2 2 0 0 1-2 2H6a2 2 0 0 1-1.9-1.376" />
    </svg>
    HealthConnect
  </h1>
  <hr />
{% endblock component_title %}
{% block component_content %}
  <div class="prose">
    <div class="text-center">
      <h2>Your Consent Matters</h2>
      <p>Please review how we use your data to provide our services.</p>
    </div>
    <h3>Your Health Data</h3>
    <p>
      To provide you with personalized insights, summaries, and recommendations, Health Connect processes the health information you provide. This data is stored securely and is only used to power the features within your account.
    </p>
    <h3>Use of AI</h3>
    <p>
      We use advanced AI models to analyze your health records, generate summaries, and identify potential health recommendations. Your data is not used to train these models, and your personal information remains private.
    </p>
    <h3>Privacy and Security</h3>
    <p>
      We are committed to protecting your privacy. All your data is encrypted and stored following industry-best security practices. You are always in control of your information and can manage or delete it at any time.
    </p>
    <a class="btn btn-outline"
       href="https://www.thrive.health/privacynotice">Legal Privacy Policy</a>
    <a class="btn btn-outline" href="https://www.thrive.health/terms">Legal Terms of Use</a>
  </div>
  <hr />
  {% crispy form %}
{% endblock component_content %}
