{% extends "patient/base.html" %}

{% block content %}
  <h2 class="mb-4">Welcome, {{ patient.full_name }}</h2>
  <h3 class="my-2 flex items-center gap-2">
    Documents
    <button id="upload-btn" type="button" class="btn btn-sm btn-primary">Upload</button>
    <form id="upload-form"
          hx-post="{% url 'patients:document_upload' patient_id=patient.id %}"
          hx-target="#documents-table-container"
          hx-encoding="multipart/form-data"
          class="hidden">
      <input type="file" id="file-input" name="file" accept="application/pdf" />
      {% csrf_token %}
    </form>
  </h3>
  <div id="documents-table-container">{% include "patient/partials/documents_table.html" %}</div>
  <script nonce="{{ request.csp_nonce }}">
    document.getElementById('upload-btn').addEventListener('click', () => {
      document.getElementById('file-input').click()
    });
    document.getElementById('file-input').addEventListener('change', () => {
      document.getElementById('upload-form').requestSubmit();
    });

    // Visual feedback for drag events
    const tableContainer = document.getElementById('documents-table-container');
    tableContainer.addEventListener('dragover', e => {
      e.preventDefault();
      tableContainer.children[0].classList.add('border-primary', 'bg-base-300');
    });
    tableContainer.addEventListener('dragleave', e => {
      e.preventDefault();
      tableContainer.children[0].classList.remove('border-primary', 'bg-base-300');
    });
    tableContainer.addEventListener('drop', e => {
      e.preventDefault();
      tableContainer.children[0].classList.remove('border-primary', 'bg-base-300');
      const files = e.dataTransfer.files;
      if (!files.length) return;
      const file = files[0];
      if (file.type !== 'application/pdf') {
        // TODO: add javascript interface for showing toast messages
        alert("Only PDF files are supported.");
        return;
      }
      const fileInput = document.getElementById('file-input');
      const dataTransfer = new DataTransfer();
      dataTransfer.items.add(file);
      fileInput.files = dataTransfer.files;
      document.getElementById('upload-form').requestSubmit();
    });
  </script>
  {# NOTE: tasks are only relevant if this patient is linked with an organization #}
  {% if tasks %}
    <h3 class="my-4">Tasks</h3>
    <div class="flex space-y-4 flex-col">
      {% for task in tasks %}
        <div class="card card-border bg-base-100 rounded-2xl w-full">
          <div class="card-body">
            <h2 class="card-title">{{ task.name }}</h2>
            {% if task.active %}
              <div class="badge badge-outline badge-success">Active</div>
            {% else %}
              <div class="badge badge-outline badge-error">Inactive</div>
            {% endif %}
            <p>Assigned on {{ task.created_at }}</p>
            {% if task.ended_at %}<p>Completed on {{ task.ended_at }}</p>{% endif %}
            <div class="card-actions justify-end">
              <a href="{% url "patients:task" patient_id=task.patient_id task_id=task.id %}"
                 class="btn btn-primary">Go to
              task</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
