{% extends "patient/base.html" %}

{% load lucide %}

{% block content %}
  {# the sse-swap here is misleading -- the messages themselves have hx-swap-oob set to their actual target #}
  <div sse-connect="{% url "core:events" %}?channel=patient/{{ patient.id }}"
       sse-swap="ingest_progress"></div>
  <div id="form-modal"></div>
  <h2 id="health-records" class="mb-4">My Health Records</h2>
  {% include "patient/partials/personal_information.html" with patient=patient %}
  {% include "patient/partials/card_conditions.html" with category="Conditions" facts=facts.conditions %}
  {% include "patient/partials/card_symptoms.html" with category="Symptoms" facts=facts.symptoms %}
  {% include "patient/partials/card_medications.html" with category="Medications" facts=facts.medications %}
  {% include "patient/partials/card_allergies.html" with category="Allergies" facts=facts.allergies %}
  {% include "patient/partials/card_hospital_visits.html" with category="Hospital Visits" facts=facts.hospital_visits %}
  {% include "patient/partials/card_injuries.html" with category="Injuries" facts=facts.injuries %}
  {% include "patient/partials/card_practitioners.html" with category="Practitioners" facts=facts.practitioners %}
  {% include "patient/partials/card_lab_results.html" with category="Lab Results" facts=facts.lab_results %}
  {% include "patient/partials/card_immunizations.html" with category="Immunizations" facts=facts.immunizations %}
  {% include "patient/partials/card_procedures.html" with category="Procedures" facts=facts.procedures %}
  {% include "patient/partials/card_family_history.html" with category="Family History" facts=facts.family_history %}
  {% include "patient/partials/card_documents_and_notes.html" with category="Documents and Notes" facts=facts.documents_and_notes %}
  {% include "patient/partials/records_documents.html" %}
  {# NOTE: tasks are only relevant if this patient is linked with an organization #}
  {% if tasks %}
    <h2 id="tasks" class="my-4">Tasks</h2>
    <div class="flex space-y-4 flex-col">
      {% for task in tasks %}
        <div class="card card-border bg-base-100 w-full">
          <div class="card-body">
            <h2 class="card-title">{{ task.name }}</h2>
            {% if task.active %}
              <div class="badge badge-outline badge-success">Active</div>
            {% else %}
              <div class="badge badge-outline badge-neutral capitalize">{{ task.status }}</div>
            {% endif %}
            <p>Assigned on {{ task.created_at|date:DJANGO_DATE_TIME_FORMAT }}</p>
            {% if task.ended_at %}<p>Completed on {{ task.ended_at }}</p>{% endif %}
            <div class="card-actions justify-end">
              <a href="{% url "patients:task" patient_id=task.patient_id task_id=task.id %}"
                 class="btn btn-primary">Go to
              task</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
