name: CI

on:
  pull_request:
    branches: ['main']
    paths-ignore: ['docs/**']

permissions:
  contents: read
  id-token: write

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/run-lint.yml

  test:
    uses: ./.github/workflows/run-test.yml

  build:
    uses: ./.github/workflows/run-build.yml
